.comment-index-grid-container {
    display: grid;
    grid-auto-rows: minmax(9vh, auto);
    // row-gap: 1rem;
    margin: 0 1.5rem 0 2.4vw;
}

.comment-replies-index-grid-item {
    display: flex;
    flex-direction: column;
}

.replies-index-grid-container {
    display: grid;
    grid-auto-rows: minmax(7vh, auto);
    // row-gap: .5rem;
}

.comment-container {
    display: flex;
    min-height: 8vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.comment-dropdown-container {
    // flex: .1;
    display: flex;
    justify-content: flex-end;
    width: 1vw;
    height: 100%;
}

.comment-dropdown {
    display: none;
    color: #909090;
    width: 1vw;
    height: 4vh;
    // float: right;
    font-size: 2.5vh;
}

.comment-dropdown:hover {
    color: #606060;
}

.comment-container:hover .comment-dropdown {
    display: block;
}

.comment-dropdown-form {
    display: block;
    position: absolute;
    font-size: 1.6vh;
    overflow: hidden;
    white-space: nowrap;
    background: #FFFFFF;
    width: 7vw;
    height: 9vh;
    border-left: 0.5px solid #D0D0D0;
    border-bottom: 0.5px solid #D0D0D0;
    box-shadow: 0 3px 2px -2px #909090;
}

.comment-dropdown-items {
    display: flex;
    flex-direction: column;
    color: #030303;
    padding: .75vh 0 .75vh 0;
    height: 100%;
}

.comment-dropdown-items li {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 0 0 1vh;
}

.comment-dropdown-items li:hover {
    background: #E8E8E8;
}

.comment-dropdown-edit {
    flex: 7;
    margin-left: 1vw;
    font-size: 1.5vh;
}

.comment-dropdown-edit-icon {
    flex: 1;
    color: #909090;
    font-size: 1.8vh;
}

.comment-dropdown-delete {
    flex: 7;
    margin-left: 1vw;
    font-size: 1.5vh;
}

.comment-dropdown-delete-icon {
    flex: 1;
    color: #909090;
}

.comment-dropdown-flag {
    display: block;
    position: absolute;
    font-size: 1.6vh;
    overflow: hidden;
    white-space: nowrap;
    background: #FFFFFF;
    width: 7vw;
    height: 5vh;
    border-left: 0.5px solid #D0D0D0;
    border-bottom: 0.5px solid #D0D0D0;
    box-shadow: 0 3px 2px -2px #909090;
    padding: .75vh 0 .75vh 0;
}

.comment-dropdown-flag-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.comment-dropdown-flag-item:hover {
    background: #E8E8E8;
}

.comment-dropdown-flag-icon {
    flex: 1;
    color: #909090;
    font-size: 2.3vh;
    margin-left: 1vw;
}

.comment-dropdown-flag-text {
    flex: 7;
    margin-left: 1vw;
    font-size: 1.5vh;
    color: #030303;
}

.profile-thumbnail-comment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4vh;
    width: 4vw;
}

.profile-thumbnail-comment-item img {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    cursor: pointer;
}

.profile-thumbnail-reply-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vh;
    width: 4vw;
    // margin-top: 1vh;
}

.profile-thumbnail-reply-item img {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    cursor: pointer;
}

.comment-info-container {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // min-height: 100%;
    width: 100%;
}

.comment-info {
    min-height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-info-info-container {
    display: flex;
    justify-content: space-between;
    min-height: 4vh;
}

.comment-info-info {
    // flex: 4;
    height: 100%;
    width: 100%;
}

.comment-author-date {
    font-size: 1.3vh;
    font-weight: 500;
    color: #030303;
    // width: 100%;
    // display: inline-block;
}

.comment-author-date span {
    // font-size: 1.3vh;
    font-weight: 400;
    color: #606060;
    margin-left: .5w;
}

.comment-body {
    font-size: 1.4vh;
    font-weight: 400;
    color: #030303;
    margin-top: .5vh;
}

.comment-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6.5vw;
    margin-top: .75vh;
}

.comment-icons-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 4.5vw;
    color: #909090;
    font-size: 1.7vh;
    cursor: pointer;
}

.comment-like-btn {
    flex: 1;
    display: flex;
    align-items: center;
}

.comment-dislike-btn {
    flex: 1;
    display: flex;
    align-items: center;
}

.comment-like-btn-liked {
    flex: 1;
    display: flex;
    align-items: center;
    color: #065fd4;
}

.comment-dislike-btn-liked {
    flex: 1;
    display: flex;
    align-items: center;
    color: #065fd4;
}

.comment-icons-icons span{
    margin-left: 0.3vw;
    font-size: 1.35vh;
    color: #606060;
}

.comment-reply-btn {
    color: #606060;
    font-weight: 500;
    font-size: 1.3vh;
}

.replies-dropdown {
    display: flex;
    align-items: flex-start;
    margin-left: 3.8vw;
    height: 3.8vh;
    width: 6vw;
    font-size: 1.4vh;
    font-weight: 500;
    color: #065fd4;
    cursor: pointer;
}

.replies-dropdown-caret {
    margin-right: 0.4vw;
    font-size: 1.2vh;
}

.comment-form-reply {
    display: flex;
    margin-top: 0.5vh;
}

.profile-thumbnail-comment-reply {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vh;
    width: 4vw;
}

.profile-thumbnail-comment-reply img {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    cursor: pointer;
}
