// .comment-form-container-container {
//     width: 69vw;
// }

.comment-form-container {
    margin: 2vh 1.5rem 3vh 2.4vw;
    // margin: 0 1.5rem 0 2.4vw;
    display: flex;
    flex-direction: column;
    width: 69vw;
    // width: 100%;
    font-family: 'Roboto', Arial, sans-serif; 
}

.comment-form-info {
    height: 3vh;
    width: 12vw;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.comment-length {
    font-size: 1.6vh;
    color: #030303;
}

.comment-sort {
    display: flex;
    align-items: center;
    font-size: 1.4vh;
    color: #606060;
    font-weight: 500;
    cursor: pointer;
}

.comment-sort span{
    font-size: 2.2vh;
    margin-right: .4vw;
}

.comment-form {
    display: flex;
}

.comment-form-input {
    width: 100%;
    border: 1px solid #DCDCDC;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-bottom: 1.4vh;
    font-size: 1.5vh;
    color: #606060;
}

.comment-form-input-clicked {
    width: 100%;
    border: 2px solid rgb(3, 3, 3);
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-bottom: 1.4vh;
    font-size: 1.5vh;
    color: rgb(3, 3, 3)
}

.profile-thumbnail-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4vh;
    width: 4vw;
}

.profile-thumbnail-comment img {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    cursor: pointer;
}

.comment-form-btns1 {
    display: flex;
    justify-content: flex-end;
}

.comment-btn {
    padding: 1vh 1.6vh 1vh 1.6vh;
    border-radius: 2px;
    color: white;
    background: #C8C8C8;
    font-weight: 500;
}

.comment-btn-typing {
    padding: 1vh 1.6vh 1vh 1.6vh;
    border-radius: 2px;
    color: white;
    background: rgb(6, 95, 212);
    font-weight: 500;
}

.cancel-btn {
    padding: 1vh 1.6vh 1vh 1.6vh;
    border-radius: 2px;
    color: #606060;
    font-weight: 500;
    margin-right: .5vw;
}

.comment-dropdown-form-form {
    display: block;
    position: absolute;
    font-size: 1.6vh;
    overflow: hidden;
    white-space: nowrap;
    background: #FFFFFF;
    width: 7vw;
    height: 10vh;
    border-left: 0.5px solid #D0D0D0;
    border-bottom: 0.5px solid #D0D0D0;
    box-shadow: 0 3px 2px -2px #909090;
}

.comment-dropdown-items-form {
    display: flex;
    flex-direction: column;
    color: #030303;
    padding: .75vh 0 .75vh 0;
    height: 100%;
}

.comment-dropdown-items-form-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-dropdown-sort-selected {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8E8E8;
}

.comment-dropdown-items-form-item:hover {
    background: #E8E8E8;
}

.comment-dropdown-sort {
    font-size: 1.5vh;
    padding: 1vh;
}

