.comment-index-grid-container {
    display: grid;
    grid-auto-rows: minmax(10vh, auto);
    row-gap: 1rem;
    margin: 0 1.5rem 0 2.4vw;
}

.comment-replies-index-grid-item {
    display: flex;
    flex-direction: column;
}

.replies-index-grid-container {
    display: grid;
    grid-auto-rows: minmax(7vh, auto);
    row-gap: 1rem;
}

.comment-container {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;
}

.comment-dropdown-container {
    flex: .1;
    display: flex;
    justify-content: flex-end;
}

.comment-dropdown {
    display: none;
    color: #909090;
    width: 1vw;
    height: 4vh;
    float: right;
    font-size: 2.5vh;
}

.comment-dropdown:hover {
    color: #606060;
}

.comment-container:hover .comment-dropdown {
    display: block;
}

.comment-dropdown-form {
       display: block;
    position: absolute;
    font-size: 1.4vh;
    overflow: hidden;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.98);
    top: 5.2vh;
    right: 2vw;
    width: 15vw;
    border-right: 0.5px solid #D0D0D0;
    border-left: 0.5px solid #D0D0D0;
    border-bottom: 0.5px solid #D0D0D0;
}

.profile-thumbnail-comment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4vh;
    width: 4vw;
}

.profile-thumbnail-comment-item img {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    cursor: pointer;
}

.profile-thumbnail-reply-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vh;
    width: 4vw;
    margin-top: 1vh;
}

.profile-thumbnail-reply-item img {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    cursor: pointer;
}

.comment-info-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.comment-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.comment-info-info-container {
    display: flex;
}

.comment-info-info {
    flex: 4;
}

.comment-author-date {
    font-size: 1.35vh;
    font-weight: bold;
    color: #030303;
}

.comment-author-date span {
    font-size: 1.3vh;
    color: #606060;
    font-weight: 400;
}

.comment-body {
    font-size: 1.5vh;
    font-weight: 500;
    color: #030303;
    margin-top: .5vh
}

.comment-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6.5vw;
}

.comment-icons-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 4.5vw;
    color: #909090;
    font-size: 1.7vh;
    cursor: pointer;
}

.comment-like-btn {
    flex: 1;
    display: flex;
    align-items: center;
}

.comment-dislike-btn {
    flex: 1;
    display: flex;
    align-items: center;
}

.comment-like-btn-liked {
    flex: 1;
    display: flex;
    align-items: center;
    color: #065fd4;
}

.comment-dislike-btn-liked {
    flex: 1;
    display: flex;
    align-items: center;
    color: #065fd4;
}

.comment-icons-icons span{
    margin-left: 0.3vw;
    font-size: 1.35vh;
    color: #606060;
}

.comment-reply-btn {
    color: #606060;
    font-weight: bold;
    font-size: 1.3vh;
}

.replies-dropdown {
    display: flex;
    margin-left: 3.8vw;
    height: 3.8vh;
    width: 6vw;
    font-size: 1.4vh;
    font-weight: bold;
    color: #065fd4;
    cursor: pointer;
}

.replies-dropdown-caret {
    margin-right: 0.4vw;
    font-size: 1.2vh;
}