.profile-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    // flex: 7;
    background: #F5F5F5;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.profile-header-container {
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: flex-end;
    background: #F9F9F9;
}

.profile-header {
    position: absolute;
    width: 70vw;
    margin-left: 11vw;
    background: #F9F9F9;
}

.profile-search-icon {
    font-size: 2.3vh;
}

.profile-nav {
    display: flex;
    height: 4vh;
    width: 45vw;
    font-size: 1.4vh;
    color: #606060;
    font-weight: 500;
}

.selected-profile-nav-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    color: #030303;
    border-bottom: 2.8px solid #030303;
}

.profile-nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-nav-item:hover {
    color: #030303;
}

.profile-photo-container {
    display: flex;
    justify-content: space-between;
}

.profile-photo {
    width: 14vw;
    padding: 0 0 1.5vh 0;
    display: flex;
    justify-content: space-evenly;
}

.profile-photo img {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    // object-fit: cover;
}

// .profile-photo img:hover {
//     opacity: .2;
// }

.profile-photo-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 9vh;
    width: 9vh;
    padding-top: 1vh;
}

.channel-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 9vh;
    width: 9vh;
    padding-top: 1vh;
}

.profile-photo-upload {
    display: none;
    z-index: 9;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-photo img:hover + .profile-photo-upload, .profile-photo-upload:hover {
    display: flex;
}

.profile-photo-nav img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-photo-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 5vh;
    width: 8vw;
    margin-top: 1.5vh;
}
// could set width to 100% if need to
.profile-photo-user span {
    color: #030303;
    width: 20vw;
}

.profile-photo-user span:first-child {
    font-size: 2.4vh;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.profile-photo-user span:last-child {
    font-size: 1.5vh;
    font-weight: 400;
    color: #606060;
}

.profile-verified-icon {
    color: #606060;
    font-size: 1.6vh;
    margin-left: .4vw;
}

.avatar {
    font-size: 2.2vh;
    color: white;
}

.profile-container {
    height: 100%;
    background: #F1F1F1;
    // color: #F1F1F1;
}

.profile-videos-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.profile-videos {
    width: 70vw;
}

.profile-videos-title {
    color: #030303;
    font-size: 1.6vh;
    font-weight: 500;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-videos-grid-container {
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 11.45vw);
    column-gap: 0.25rem;
}

.profile-videos-grid-item {
    height: 100%;
}

.profile-videos-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile-videos-item {
    height: 12vh;
}

.profile-videos-item-info {
    display: flex;
    justify-content: space-between;
}

.profile-videos-item-title {
    display: flex;
    align-items: center;
    height: 3vh;
}

.profile-videos-item-views {
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.profile-videos-default {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    color: #030303;
}

.profile-playlists {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    color: #030303;    
}

.profile-channels {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    color: #030303;
}

.profile-comment-form-container {
    height: 20vh;
    display: flex;
    align-items: flex-start;
    margin-left: 9vw;
}

.upload-container-default {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.upload-container-content {
    display: flex;
    height: 100%;
    width: 100%;
}

.upload-container-uploads {
    // flex: 4.5;
    width: 60vw; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 11vw;
}

.uploads-featured-video-container {
    border-bottom: .75px solid #D3D3D3;
    height: 31vh;
    display: flex;
    padding: 2.5vh 2.5vh 2.5vh 0;
}

.uploads-featured-video {
    height: 100%;
    width: 25vw;
}

.uploads-featured-video-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    margin-left: 1.5vw;
}

.uploads-profile-videos-item-info {
}

.uploads-profile-videos-item-views {
    padding-top: 1vh;
    display: flex;
    align-items: center;
}

.uploads-profile-videos-description {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.uploads-profile-videos-description span {
    color: #030303;
    font-size: 1.3vh;
    font-weight: 500;
    cursor: pointer;
}

.uploads-uploads {
    border-bottom: .75px solid #D3D3D3;
    height: 28vh;
    padding-bottom: 1vh;
}

.uploads-uploads-title {
    padding: 2vh 0 2vh 0;
    color: #030303;
    font-size: 1.6vh;
    font-weight: 500;
}

.uploads-featured-channels {
    // flex: 2;
    max-width: 15vw;
    margin-left: 2.8vh;
    width: 20vw;
}

.uploads-featured-channels h1 {
    padding: 2.4vh 0;
    font-size: 1.4vh;
    color: #606060;
    font-weight: 500;
}

.channel-home-grid-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, 5.6vh);
    row-gap: 2rem;
}

.channel-home-grid-item-container {
    // width: 100%;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 100%;
}

.channel-home-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    height: 100%;
}

.channel-logo-home-container {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100%;
}

.channel-logo-home-container h2 {
    color: #030303;
    font-size: 1.4vh;
    font-weight: 500;
    margin-left: .5vw;
    display: flex;
    align-items: center;
}

.channel-logo-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-logo-home img {
    width: 2.4vh;
    height: 2.4vh;
    border-radius: 50%;
    object-fit: cover
}

.channel-subscribe-btn {
    margin-top: .8vh;
    background: rgba(0, 0 , 0, 0.1);
    color: #606060;
    font-weight: 500;
    align-self: flex-start;
    padding: .4vh .8vh;
    border-radius: 2px;
    // margin-top: 2.5vh;
    font-size: 1.4vh;
    font-family: 'Roboto', 'Noto', sans-serif;
    cursor: pointer;
}

.channels-featured-channels {
    padding: 0 12vw;
    // height: 100%;
}

.channels-featured-channels h1 {
    display: flex;
    align-items: center;
    margin: 0.8vh 0;
    font-size: 1.6vh;
    color: #111111;
    font-weight: 400;
    height: 5.6vh;
}

.channel-channels-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 22.5vh);
    // margin-left: .25vw;
}

.channel-channels-grid-item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

.channel-channels-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    // height: 18.5vh;
}

.channel-channels-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    // height: 100%;
}

.channel-channels-info h1 {
    color: #030303;
    font-size: 1.4vh;
    font-weight: 500;
    height: 1.6vh;
    // margin-left: .5vw;
}

.channel-channels-info span {
    color: #606060;
    font-size: 1.3vh;
    font-weight: 400;
    // margin-left: .5vw;
}

.channel-logo-channels {
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-logo-channels img {
    width: 10.3vh;
    height: 10.3vh;
    border-radius: 50%;
    object-fit: cover
}

.channel-subscribe-btn-container {
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50vw;
}

.profile-upload h1 {
    color: #030303;
    font-weight: 400;
    font-size: 2.4vh;
}

.profile-upload img {
    width: 18vw;
    height: 18vh;
}

.profile-upload p {
    font-size: 1.4vh;
    color: #606060;
}

.profile-upload-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vh;
    line-height: 1%;
}

.upload-btn {
    background: #065FD4;
    color: white;
    padding: .9vh 1.5vh .9vh 1.5vh;
    border-radius: 1px;
    font-weight: 500;
    cursor: pointer;
}

textarea {
    border: 1px solid black;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form input[type=text] {
    border: 1px solid black;
}

.profile-videos-item-title-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1.5vh;
}

.video-dropdown-container {
    display: flex;
    justify-content: flex-end;
    width: 2vw;
    height: 5vh;
}

.video-dropdown {
    display: none;
    color: #909090;
    width: 1vw;
    height: 4vh;
    // float: right;
    font-size: 2.5vh;
}

.video-dropdown:hover {
    color: #606060;
}

.profile-videos-item-container:hover .video-dropdown {
    display: block;
    margin-right: 1vh;
}

.video-dropdown-form-user {
    display: block;
    position: absolute;
    font-size: 1.4vh;
    overflow: hidden;
    white-space: nowrap;
    background: #FFFFFF;
    width: 9vw;
    height: 15vh;
    border-left: 0.5px solid #D0D0D0;
    border-bottom: 0.5px solid #D0D0D0;
    box-shadow: 0 3px 2px -2px #909090;
}

.video-dropdown-items-form {
    display: flex;
    flex-direction: column;
    color: #111111;
    padding: .75vh 0 .75vh 0;
    height: 100%;
}

.video-dropdown-form-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.video-dropdown-form-item:hover {
    background: #E8E8E8;
}

.video-dropdown-sort {
    font-size: 1.4vh;
    padding: 1vh;
    font-weight: 400;
}

.sort-dropdown-selected-videos {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #E8E8E8;
}

.channel-btns-container {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 18vw;
}

.channel-btn {
    background: #065FD4;
    color: #FFFFFF;
    font-weight: 500;
    align-self: flex-start;
    padding: 1vh 1.6vh;
    border-radius: 2px;
    margin-top: 2.5vh;
    font-size: 1.4vh;
    font-family: 'Roboto', 'Noto', sans-serif;
    cursor: pointer;
}

.channel-banner-profile-container {
    // width: ;
    flex: 7;
//     perspective: 1px;
//   height: 100vh;
//   overflow-x: hidden;
//   overflow-y: auto;
}

.channel-banner-container {
    width: 100%;
    height: 30vh;
//     position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   transform: translateZ(0);
}

.channel-banner-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.channel-logo-info-container {
//     position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//     transform: translateZ(0);
}

.channel-about-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0 7vw;
}

.channel-about-info {
    margin-top: 5vh;
    width: 40vw;
}

.channel-about-info-item {
    min-height: 14vh;
    border: 1px solid #D8D8D8;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

.channel-about-info li:first-child {
    color: #030303;
    font-weight: 400;
}

.channel-about-title {
    font-size: 1.6vh;
    padding: 2.4vh 0;
}

.channel-about-description {
    font-size: 1.4vh;
}

.profile-about-container {
    display: flex;
}

.profile-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 20vh;
    width: 17.5vw;
    margin: 5vh 2vw 0 0;
}

.profile-about li:first-child {
    font-size: 1.6vh;
    border-top-style: none;
}

.profile-about li {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100%;
    font-size: 1.4vh;
    color: #030303;
    border: 1px solid #D8D8D8;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.profile-about li:last-child {
    color: #909090;
    font-size: 2.4vh;
}

.about-featured-channels {
    // flex: 2;
    // max-width: 15vw;
    // margin-left: 2.8vh;
    // width: 20vw;
}

.about-featured-channels h1 {
    padding: 2.4vh 0;
    font-size: 1.4vh;
    color: #606060;
    font-weight: 500;
}

.channel-about-info-link {
    color: #065FD4;
    // text-decoration: underline;
}

.channel-description-form-container {
    height: 20vh;
    width: 40vw;
    // padding: 0 1.5vh 1.5vh 1.5vh;
    color: #333333;
    display: flex;
    flex-direction: column;
    font-size: 1.1vh;
    font-family: "YouTube Noto", Roboto, arial, sans-serif;
}

.channel-description-title {
    height: 2vh;
    font-weight: 500;
}

.channel-description-form {
    height: 10.2vh;
    width: 100%;
    padding: .5vh 1vh;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    font-size: 1.3vh;
}

.channel-description-form:focus {
    border: 1px solid #167AC6;
}

.plus-icon {
    // background: #555555;
    margin-right: 0.6vh;
}

.channel-descriptions-btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 1.5vh;
        
}

.channel-description-btn {
    height: 2.8vh;
    width: 14vh;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    color: #333333;
    font-size: 1.1vh;
    padding: 0 1vh;
    display: flex;
    align-items: center;
    background: #F8F8F8;
}

.channel-description-btn-art {
    height: 2.8vh;
    width: 12vh;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    color: #333333;
    font-size: 1.1vh;
    padding: 0 1vh;
    display: flex;
    align-items: center;
    background: #F8F8F8;
    cursor: pointer;
}

.channel-description-btn-link {
    height: 2.8vh;
    width: 7vh;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    color: #333333;
    font-size: 1.1vh;
    padding: 0 1vh;
    display: flex;
    align-items: center;
    background: #F8F8F8;
    cursor: pointer;
}

.channel-description-btn-add {
    height: 2.8vh;
    width: 7vh;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    color: #333333;
    font-size: 1.1vh;
    padding: 0 1vh;
    display: flex;
    align-items: center;
    background: #F8F8F8;
    cursor: pointer;
    margin-top: 1vh;
}

.channel-description-btn-cancel {
    height: 2.8vh;
    width: 5.6vh;
    padding: 0 1vh;
    color: #333333;
    background: #F8F8F8;
    text-align: center;
    margin-right: .5vh;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
}

.channel-description-btn-done {
    height: 2.8vh;
    width: 5.6vh;
    padding: 0 1vh;
    color: #FFFFFF;
    background: #167AC6;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #167AC6;
}

.channel-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 10vh;
}

.channel-link-form-container {
    // height: 20vh;
    width: 40vw;
    // padding: 0 1.5vh 1.5vh 1.5vh;
    color: #333333;
    display: flex;
    flex-direction: column;
    font-size: 1.1vh;
    font-family: "YouTube Noto", Roboto, arial, sans-serif;
}

.link-input {
    height: 2.8vh;
    border: 1px solid #D3D3D3;
    background: #FFFFFF;
    font-size: 1.2vh;
    padding: .5vh 1vh;
}

.link-input:focus {
    border: 1px solid #167AC6;
}
