    // .main-header-container {
    //     background: red;
    //     width: 100%;
    //     // display: inline-block;
        
    // }
    
    .nav-bar-container {
        display: flex;
        justify-content: space-between;
        padding: 2px;
        // background: palevioletred;
        align-items: center;
        flex-direction: row;
        text-align: center;
        position: relative;
    }
    
    // .logo {
        //     justify-content: center;
        //     max-width: 100px;
        //     height: auto;
        //     order: 1;
        //     float: left;
        //     position: relative;
        // }

        // * {
    //     box-sizing: border-box;
    // }

    // .search input[type=text] {
    //     padding: 7px;
    //     font-size: 15px;
    //     border: 1px solid grey;
    //     float: left;
    //     width: 600px;
    //     background: white;
    //     border-radius: 2px;
    //     justify-content: center;
    //     align-items: center;
    //     order: 2;
    // }
    
    // .search input[type=text]:focus {
        //     border: 2px solid #0066ff;
        // }
        
    // .search button {
        //     float: left;
        //     width: 5%;
        //     padding: 10px;
        //     background: white;
        //     color: white;
        //     font-size: 17px;
        //     border: 1px solid grey;
        //     border-left: none; 
        //     cursor: pointer;
        //     opacity: 0.5;
        //     justify-content: center;
        //     align-items: center;
        //     position: relative;
        // }
        
        // .search button:hover {
            //     background: lightgray;
            //     opacity: 0.7;
            // }
            
        // .hamburger {
        //     background-color: white;
        //     border: none;
        //     color: grey;
        //     cursor: pointer;
        //     font-size: 20px;
        //     position: relative;
        //     align-items: center;
        // }

         .left-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            // background: brown;
            width: 150px;
            font-size: larger;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            cursor: pointer;
        }

        .hamburger {
            position: relative;
            left: 10px;  
        }

        .title {
            position: relative;
            font-weight: bolder;
            font-stretch: condensed;
        }

        .ad-icon {
            position: relative;
            background: brown;
        }

        .youtube-logo {
            position: relative;
            color: red;
            left: 30px;
        }

        .profile-icon {
            position: relative;
            right: 5px;
            font-size: x-large;
        }

        .right-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            // text-align: center;
            // position: relative;
            float: right;
            flex-direction: row;
            background: white;
            width: 250px;
            cursor: pointer;
        }

        .mid-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            // background: green;
            position: relative;
            // width: 500px;
            // width: 30%;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
        }

        .search-bar {
            width: 700px;
            position: relative;
            display: flex;
            // background: cornflowerblue;
        }

        .search-input {
            width: 500px;
            height: 2px;
            // border: 3px solid #00B4CC;
            border-right: none;
            // height: 10px;
            // border-radius: 0 5px 5px 0;
            outline: none;
            // position: relative;
            margin: 5px;
            align-items: baseline;
            text-indent: 0px;
            // background: yellow;
            // text-align: left;
            // transform: translate(-50%, -50%)
            // top: 50%;
            // left: 50%;
            // margin-right: -50%;
            // border-radius: 0;
            align-self: center;
        }

        .search-button {
            // width: 40px;
            // height: 36px;
            // border: 1px solid #00B4CC;
            // background: #00B4CC;
            text-align: center;
            color: darkgray;
            border-radius: 0 ;
            cursor: pointer;
            // font-size: 20px;
            align-self: flex-start;
            position: relative;
            bottom: 10px;
            object-fit: cover;
            background: #F0F0F0;
            border: 1px solid #D8D8D8;
            border-radius: 2px;
            // height: 20px;
        }

        .search-button:hover {
            background: #E0E0E0;
            opacity: 0.7;
        }
        
        .signin-button {
            background-color: white;
            padding: 7px;
            border-radius: 3px;
            float: right;
            border: 0.5px solid #0066ff;
            font-size: 16px;
            text-decoration: none;
            color: #0066ff;
            text-align: center;
            justify-content: center;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            position: relative;
            width: 100px;
        }

       
                
                
                
                