.sidebar-container {
    // flex: .3;
    margin-top: 1.2vh;
    display: flex;
    flex-direction: column;
    height: 37vh;
    width: 7.2vh;
    // position: absolute;
    // overflow: hidden;
}

.home-icon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4vh;
    color: #FF0000;
    cursor: pointer;
    height: 7.4vh;
    // width: 7.2vh;
}

.home-icon span {
    margin-top: .8vh;
    font-size: 1.1vh;
    color: #CC0000;
}

.home-icon:hover {
    background: 	#F0F0F0;
}

.sidebar-icon {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4vh;
    color: #606060;
    cursor: pointer;
    height: 7.4vh;
    // width: 7.2vh;
}

.sidebar-icon:hover {
    background: 	#F0F0F0;
}

.sidebar-icon span {
    margin-top: .8vh;
    font-size: 1.1vh;
}

#icon-size {
    font-size: 2vh;
}

#linkedin {
    font-size: 2vh;
    color: #0073b1;
}

.sidebar-container-expanded {
    height: 100vh;
    width: 13vw;
    background: #FFFFFF;
    z-index: 1;
}

// .sidebar-container-expanded:hover {
//     overflow-y: scroll;
// }

.sidebar-items-expanded {
    display: flex;
    flex-direction: column;
    color: #030303;
    margin-top: 1.2vh;
    // height: 100%;
}

.sidebar-items-expanded li {
    height: 4vh;
    display: flex;
    align-items: center;
    color: #030303;
    cursor: pointer;
}

.sidebar-items-expanded li:not(.home-item-expanded):hover {
    background: #F0F0F0;
}

.home-item-expanded {
    background: #E8E8E8;
}

.home-item-expanded:hover {
    background: #DCDCDC;
}

.home-icon-expanded {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 100%;
    font-size: 2.4vh;
    color: #FF0000;
}

.home-text-expanded {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.4vh;
    font-weight: 500;
}

.sidebar-icon-expanded {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    font-size: 2.4vh;
    height: 100%;
    color: #606060
}

.sidebar-text-expanded {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.4vh;
    font-weight: 400;
}

#sidebar-hr {
    // padding: 1.2vh 0 1.2vh 0;
    border-top: 1px solid #DCDCDC;
}

.sidebar-signin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0vh 3.2vh 1.6vh 3.2vh;
}

.sidebar-signin p {
    font-size: 1.4vh;
    line-height: 150%;
}

.sidebar-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.left-navbar-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto','Arial', sans-serif;
    width: 8.5vw;
    height: 4vh;
    cursor: pointer;
}

.left-navbar-modal-container {
    height: 5.6vh;
    padding: 0.3vw 0 0.3vw .5vw;
    border-bottom: 0.5px solid #E8E8E8;
    display: flex;
    align-items: center;

} 

#sidebar-trending {
    color: #FF0000;
}

.sidebar-subscriptions-container {
    // padding: 0 2.4vh 0.8vh 2.4vh;
    padding: 0 0 .8vh 0;
    width: 100%;
    // max-height: 100%;
}

.sidebar-subscriptions-title {
    display: flex;
    align-items: center;
    height: 3.2vh;
    font-size: 1.4vh;
    color: #606060;
    font-weight: 500;
    margin: 0 2.4vh;
}

.sidebar-subscriptions-grid {
    // margin-top: 0.8vh;
    display: grid;
    grid-template-rows: repeat(10, 4vh);
    color: #030303;
    font-size: 1.4vh;
    font-weight: 400;
    width: 100%;
    // max-height: 100%;
}

.sidebar-subscriptions-grid-item-container {
    width: 100%;
    display: flex;
    align-items: center;
    // height: 100%;
}

.sidebar-subscriptions-grid-item-container:hover {
    background: #F0F0F0;
    cursor: pointer;
}

.sidebar-subscriptions-grid-item {
    display: flex;
    align-items: center;
    font-size: 1.4vh;
    font-weight: 400;
    width: 100%;
    margin: 0 2.4vh;
    // height: 100%;
}

.sidebar-subscription-info-container {
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
}

.sidebar-subscription-name {
    margin-left: 1vw;
    font-weight: 400;
    display: flex;
    align-items: center;
}

