.video-show-container {
    // margin-top: 75px;
    // position: fixed;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
    // overflow: auto;
    // background: #F5F5F5;
}

.video-container {
    background: coral;
    margin-top: 2vh;
    margin-left: 2.7vw;
    height: 70vh;
    width: 69vw;
    border: 1px solid black;
}