.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.show-container {
    flex: 3;
}

.related-container {
    flex: 1;
}

.video-container {
    margin-top: 2vh;
    margin-left: 2.7vw;
    height: 70vh;
    width: 69vw;
    // border: 1px solid black;
}

.video-container source {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

//grid container
.suggested-videos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(19, 35vh);
    grid-gap: 1rem;
    border: 1px solid black;
}