.login-container {
    // box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background: white;
    // box-shadow: 2px 10px black;
    font-family: 'Roboto','Noto Sans Myanmar UI',arial,sans-serif;
}

.login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-logo {
    max-width: 50%;
    max-height: 50%;
}

.login-icon {
    font-size: 35px;
    color: 	#C8C8C8;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 200px;
    padding: 10px;
}

input[type=text] {
    // box-sizing: border-box;
    // width: 100%;
    border-radius: 5px;
}

input[type=text]:focus {
    border: 1.5px solid #0066ff;
}


.login-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.session-button {
    background-color: #0066ff;
    border-radius: 8px;
    padding: 10px;
    color: white;
    text-align: center;
    width: 80px;
    border: 1px solid #0066ff;
    font-weight: 500;
}

#p1 {
    color: #0066ff;
    font-weight: 500;
    font-size: 15px;
}

.input-container p {
    padding: 2px;
    font-size: 15px;
}












