.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 25vw;
    padding: 2vw;
    border-radius: 10px;
    border: 1px solid lightgray;
    background: white;
    font-family: 'Roboto','Noto Sans Myanmar UI',arial,sans-serif;
}

.login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-logo {
    max-width: 50%;
    max-height: 50%;
}

.login-icon {
    font-size: 35px;
    color: 	#C8C8C8;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 20vh;
}

.login-input {
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    border: 1px solid lightgray; 
    font-size: inherit;
}

.login-input:focus {
    border: 1.5px solid #0066ff;
}

.login-demo {
    display: flex;
    flex-direction: column;
    // line-height: 70%;
}

.login-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.session-btn {
    background-color: #0066ff;
    border-radius: 8px;
    padding: 10px;
    color: white;
    text-align: center;
    width: 80px;
    border: 1px solid #0066ff;
    font-weight: 500;
}

.session-nav {
    color: #0066ff;
    font-weight: 500;
    font-size: 15px;
}

.input-container p {
    padding: 2px;
    font-size: 15px;
}

.session-errors {
    display: flex;
    color: red;
    // padding: 2px;
    font-size: 13px;
}

.session-errors span {
    display: flex;
    align-items: flex-end;
    padding-right: 5px;
    font-size: 16px;
}












