.signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 55vh;
    padding: 2vw;
    border: 1px solid lightgray;
    border-radius: 15px;
    font-family: 'Roboto','Noto Sans Myanmar UI',arial,sans-serif;
    display: flex;
    flex-direction: row;
    color: #202124;
}

.signup-left {
    display: flex;
    flex-direction: column;
}

.signup-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.3vh;
}

.signup-title img {
    width: 5vw;
    height: 5vh;
}

.signup-title h1 {
    font-size: 2.4vh;
    font-weight: 400;
}

.signup-title h3 {
    font-size: 1.8vh;
    font-weight: 300;
}

.signup-input {
    display: flex;
    flex-direction: column;
    padding-left: 1.3vh;
}

// .signup-input-container {
//     padding-bottom: 1.3vh;
// }

.signup-input p {
    // padding-left: 1.3vh;
    font-size: 1.4vh;
}

.signup-input input {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 22.5vw;
}

.signup-input input:focus {
    border: 1.5px solid #065FD4;
}

#p1 {
    padding-left: 1.5vh;
    padding-top: 1.5vh;
    font-size: 14px;
}

.signup-links {
    display: flex;
    justify-content: space-between;
    padding: 1.5vh;
    width: 100%;
}

.signup-links p {
    display: flex;
    align-self: center;
}

.signup-btn {
    background-color: #065FD4;
    border-radius: .3vh;
    // padding: .8vh;
    color: white;
    text-align: center;
    width: 5vw;
    height: 4vh;
    font-weight: 400;
}

.signup-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signup-right-img {
    height: 24.4vh;
    width: 24.4vh;
}
.signup-right-img img {
    height: 100%;
    width: 100%;
}

.signup-right-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.6vh;
    font-weight: 300;
    height: 5vh;
    margin-top: 2vh;
}

.signup-session-errors-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.2vh;
    margin-top: .25vh;
}