.signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 50vh;
    padding: 2vw;
    border: 2px solid lightgray;
    border-radius: 15px;
    font-family: 'Roboto','Noto Sans Myanmar UI',arial,sans-serif;
    display: flex;
    flex-direction: row;
}

.signup-left {
    display: flex;
    flex-direction: column;
}

.signup-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5vh;
}

.signup-title img {
    width: 5vw;
    height: 5vh;
}

.signup-title h1 {
    font-size: 30px;
    font-weight: 500;
}

.signup-title h3 {
    font-size: 20px;
    font-weight: 300;
}

.signup-input {
    display: flex;
    flex-direction: column;
}

.signup-input div {
    padding: 1.5vh;
}

.signup-input p {
    padding-left: 1.5vh;
    font-size: 14px;
}

.signup-input input {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 22.5vw;
}

.signup-input input:focus {
    border: 1.5px solid #0066ff;
}

#p1 {
    padding-left: 1.5vh;
    padding-top: 1.5vh;
    font-size: 14px;
}

.signup-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5vh;
    width: 22.5vw;
}

.signup-links p {
    display: flex;
    align-self: center;
}

.signup-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    // background: orchid;
}

.signup-right img {
//    flex: 1;
}

.signup-right p {
    font-size: 20px;
    font-weight: light;
}