.profile-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 7;
    background: #F5F5F5;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.profile-header-container {
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: flex-end;
    background: #F9F9F9;
}

.profile-header {
    position: absolute;
    width: 70vw;
    margin-left: 11vw;
    background: #F9F9F9;
}

.profile-search-icon {
    font-size: 2.3vh;
}

.profile-nav {
    display: flex;
    height: 4vh;
    width: 45vw;
    font-size: 1.4vh;
    color: #606060;
    font-weight: 600;
}

.selected-profile-nav-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    color: #030303;
    border-bottom: 2.8px solid #030303;
}

.profile-nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-nav-item:hover {
    color: #030303;
}

.profile-photo {
    width: 14vw;
    padding: 0 0 1.5vh 0;
    display: flex;
    justify-content: space-evenly;
}

.profile-photo img {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    cursor: pointer;
    // object-fit: cover;
}

.profile-photo > .profile-photo-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    opacity: 0.7;
}

.profile-photo-default:hover {
    opacity: 0.5;
}

.profile-photo-nav img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-photo-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profile-photo-user span {
    color: #030303;
}

.profile-photo-user span:first-child {
    font-size: 2.4vh;
    font-weight: 500;
}

.profile-photo-user span:last-child {
    font-size: 1.5vh;
    font-weight: 400;
}

.avatar {
    font-size: 5vh;
    color: white;
}

.profile-container {
    height: 100%;
    background: #F1F1F1;
    // color: #F1F1F1;
}

.profile-videos {

}

.profile-playlists {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    color: #030303;    
}

.profile-channels {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vh;
    color: #030303;
}

.profile-comment-form-container {
    height: 20vh;
    display: flex;
    align-items: flex-start;
    margin-left: 9vw;
}

.profile-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 15vh;
    width: 22vw;
    margin: 4vh 0vw 0vw 60vw;
}

.profile-about li:first-child {
    font-size: 1.6vh;
    border-top-style: none;
}

.profile-about li {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100%;
    font-size: 1.4vh;
    color: #030303;
    border: 1px solid #D8D8D8;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.profile-about li:last-child {
    color: #909090;
    font-size: 2.4vh;
}

.upload-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 50vh;
    width: 35vw;
}

.upload-container img {
    width: 10vw;
    height: 10vh;
}

.upload-btn {
    background: blue;
    color: white;
    padding: 1vh;
    border-radius: 3px;
}

textarea {
    border: 1px solid black;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form input[type=text] {
    border: 1px solid black;
}